{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["import", {
      "libraryName": "antd-mobile",
      "style": "css"
    }],
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "babel-plugin-styled-components",
      {
        "displayName": true,
        "fileName": true,
        "minify": false,
        "pure": true
      }
    ]
  ]
}
